body {
	margin: 0px;
	font-family: 'Trebuchet MS', sans-serif;
	padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}


.wrapper-homepage{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(to bottom right,rgb(9, 44, 62),black);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}
.container-navbar{
	display: flex;
	align-items: left;
}

.navbar {
	background-color: black;
	padding: 24px 48px;
}

.navbar a{
	color: white;
	text-decoration: none;
	padding: 0px 12px;
}

.navbar a.active {
	color: #0b72a1;
	font-weight: bold;
	text-decoration: underline;
}

.container-body {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.container-footer{
	display: flex;
	justify-content: right;
	align-items: center;
}

.container-footer a {
	color: white;
	background-color: #0b72a1;
	padding: 24px 48px;
	text-decoration: none;
}

.smallwin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

.wrapper-description {
	padding-left: 24px;
}

.wrapper-interests {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.comp-interest {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 33%;
}

.comp-interest img {
	padding: 12px;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.div1{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.div2{
	text-align:center;
	display:none;
	color: white;
}

.button {
	width:20%;
}

.center{
	text-align:center;
	
}

.center1{
	text-align:center;
	color:white;
}

.centermodal{
	text-align:center;
	margin-top:300px;
}


.Table{
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width:100%;
	color: white;
}

.Table2{
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	text-align:center;
	width:100%;
	text-align:center;
	color: white;
}
.Table3{
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width:100%;
	text-align:center;
	color: white;
}

.changecolor{
	text-align:center;
	background-color:violet;
	width:40%;
	margin-left: auto;
	margin-right: auto;
}

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}